/* =========================================

    GLOBAL CSS
    
=========================================== */

/* ------------
    Horizontal Line
--------------- */
hr {
    background-image: linear-gradient(to right, #3498db, #2ecc71, #e74c3c, #f1c40f, #34495e, #f39c12);
    /* padding: 1px; */
}

/*=======================================
    NAVBAR CSS
    DO NOT CHANGE THESE SETTINGS !! 
========================================*/
.st-key-TopMenuContainer {
    max-width: 90vw;
    padding-right: 50px;
    max-height: 3.25rem;
    background-color: transparent;
}

.st-key-LOGOContainer {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.st-key-MenuContainer {
    background-color: transparent;
    max-height: 3.25rem;
}



@media (max-width: 820px) {
    .st-key-LOGOContainer {
        display: none;
    }

    .st-key-TopMenuContainer {
        max-width: 100vw;
        padding-top: 0;
        padding-right: 0;
        max-height: 6.5rem !important;
    }
}


/*=========================
    ABOUT ME TAB CSS
===========================*/
/* -----------------
  HERO SECTION 
------------------ */
.st-key-heroContainer {
    margin-bottom: 25px;
    padding: 70px 25px;
    /* background: #34495e; */
    margin-top: -20px !important;
}

.st-key-CTAContainer {
    margin-left: 50px;
    margin-top: 150px;
    padding-bottom: 20px;
}

.st-key-profileImageContainer {
    margin-left: 50px;
}


@media (max-width: 820px) {
    .st-key-heroContainer {
        margin-bottom: 0px !important;
    }

    .st-key-CTAContainer {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }

    .st-key-profileImageContainer {
        margin-left: 0px !important;
    }

}


/*=========================
	SECTIONS SPACING
===========================*/
.st-key-AboutMeContainer,
.st-key-MyServicesContainer,
.st-key-SkillsContainer,
.st-key-ExperienceContainer,
.st-key-PortfolioContainer,
.st-key-TestimonialContainer,
.st-key-ClientsContainer {
    padding: 50px;
    border-top: 1px solid #e0e0e0;
}

@media (max-width: 820px) {

    .st-key-AboutMeContainer,
    .st-key-MyServicesContainer,
    .st-key-SkillsContainer,
    .st-key-ExperienceContainer,
    .st-key-PortfolioContainer,
    .st-key-TestimonialContainer,
    .st-key-ClientsContainer {
        padding: 5px;
    }
}

/*=========================
	HEADERS SECTIONS
===========================*/
.st-key-AboutMeDescriptionContainer,
.st-key-AboutMeVideoContainer,
.st-key-MyServiceslistContainer,
.st-key-SkillsListContainer,
.st-key-ExperienceListContainer {
    margin-top: 70px;
}

@media (max-width: 820px) {

    .st-key-AboutMeDescriptionContainer,
    .st-key-AboutMeVideoContainer,
    .st-key-MyServiceslistContainer,
    .st-key-SkillsListContainer,
    .st-key-ExperienceListContainer {
        margin-top: 0px !important;
    }

}

/* ====================== 
   VIEW ALL BUTTON 
========================= */
.st-key-portfolio_read_more button {
    background-color: red;
    border: none !important;
}

/* ====================
    ADMIN PAGE 
===================== */
.st-key-NewPortfolioContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;

}

/* ----------------
    Contact Page
---------------- */
.st-key-ContactContainer {
    padding: 0px 150px;
}

@media (max-width: 820px) {
    .st-key-ContactContainer {
        padding: 0px 5px;
    }
}

.st-key-contactformContainer {
    padding: 38px 76px;
    box-shadow: 4px 4px 10px #0003;
    /* box-shadow: 4px 4px 10px #e0e0e0;  Dark mode*/
}

/* --------------------
    FOOTER
----------------------*/
.st-key-FooterTitle {
    margin-bottom: 20px;
}

.st-key-FooterContainer {
    margin-top: 100px;
}

@media (max-width: 820px) {
    .st-key-FooterContainer {
        margin-top: 20px;
        padding: 5px;
    }
}